*.pdf
assets/CV/to-do.md
nestedTable-snippet.html
assets/CV/email.svg
assets/CV/location_48px.svg
assets/CV/smartphone.svg
notita
assets/CV/codeBack.svg
card_snippet.html
styling-td
text-notes/
snippets/
unused/
